$blue: #409EFF;
$regularTextColor: #606266;
$secondaryTextColor: #909399;
$placeholderTextColor: #C0C4CC;

@mixin fa($type: center) {
	display: flex;
  flex-direction: row;
  align-items: $type;
}

.tooltip_content {
  word-wrap: break-word;
  word-break: normal;
  width: 206px;
}